---
import AboutCard from "./AboutCard.astro"
---

<section id="about-carousel-container">
  <div class="about-slider my-slider">
    <AboutCard
      src="/images/about-slider/aslider-1.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-2.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-3.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-4.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-5.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-6.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-7.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-8.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-9.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-10.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-11.jpg"
      alt=""
     />
     <AboutCard
      src="/images/about-slider/aslider-12.jpg"
      alt=""
     />
  </div>
</section>

<style>

.index-carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>