---
---

<section class="lunch-section-wrapper" id="lunch-section">
  <article class="lunch-article-intro">
    <p class="lunch-intro">Lunch Service</p>
    <figure class="product-fig">
      <img src="/icons/lunch-icon.png" alt="">
    </figure>
    <h2 class="lunch-subtitle">Delicious Lunch Specials at Your Doorstep</h2>
    <p class="lunch-text">
      We handle all the preparations for lunch services. We bring the experience and dedication our clients expect, using fresh ingredients and top-quality raw materials.
    </p>
    <p class="lunch-text">
      Every product is delivered in boxes and trays, ready to serve at the table. We offer a catering service that merges our finest products with personalized attention and professionalism.
    </p>
    <a class="services-btn" href="/Contact">Ask for a quote</a>
  </article>
  <article class="lunch-article-gallery">
    <figure class="lunch-gallery-fig">
      <img src="/images/lunch/lunch-1.jpg" alt="" />
    </figure>
    <figure class="lunch-gallery-fig">
      <img src="/images/lunch/lunch-2.jpg" alt="" />
    </figure>
    <figure class="lunch-gallery-fig">
      <img src="/images/lunch/lunch-3.jpg" alt="" />
    </figure>
    <figure class="lunch-gallery-fig">
      <img src="/images/lunch/lunch-4.jpg" alt="" />
    </figure>
    <figure class="lunch-gallery-fig">
      <img src="/images/lunch/lunch-5.jpg" alt="" />
    </figure>
    <figure class="lunch-gallery-fig">
      <img src="/images/lunch/lunch-6.jpg" alt="" />
    </figure>
  </article>
</section>

<style>
  .lunch-section-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .lunch-article-intro {
    width: 50%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .lunch-subtitle {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  .lunch-text, .lunch-intro {
    color: #252525;
    font-size: 0.9rem;
  }

  .product-fig {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-fig img {
    width: 100%;
  }

  .services-btn {
    padding: 0.75rem 2rem;
    background-color: #ff90aa;
    color: #f6f6f6;
    border-radius: 0.25rem;
    transition: 0.2s linear all;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .services-btn:hover {
    background-color: #ff7070;
  }

  .lunch-article-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .lunch-gallery-fig {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lunch-gallery-fig img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    opacity: 0.9;
    transition: 0.2s linear all;
  }

  .lunch-gallery-fig img:hover {
    transform: scale(1.2);
    z-index: 5;
    border-radius: 0.5rem;
    opacity: 1;
  }

  /*---------- to 479px ----------*/

  @media all and (max-width: 479px) {

    .lunch-article-intro {
      width: 80%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .lunch-subtitle {
      font-size: 2rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    .lunch-text {
      margin-bottom: 0.75rem;
    }

  }

    /*---------- to 959px ----------*/

  @media all and (min-width: 480px) and (max-width: 959px) {
      
    .lunch-article-intro {
      width: 70%;
      min-height: 60vh;
      justify-content: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .lunch-subtitle {
      font-size: 2.25rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .lunch-text {
      margin-bottom: 0.75rem;
    }

  }

  @media all and (max-width: 959px) {

    .lunch-intro {
      margin-bottom: 1rem;
    }

    .product-fig {
      width: 20%;
    }

    .lunch-article-gallery {
      flex-direction: column;
      margin-bottom: 2rem;
    }

    .lunch-gallery-fig {
      width: 95%;
    }

    .lunch-gallery-fig:nth-child(1) img {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    .lunch-gallery-fig:last-child img {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

  }

  /*---------- from 960px ----------*/

  @media all and (min-width: 960px) {
    
    .lunch-article-intro {
      margin-bottom: 1.25rem;
    }

  }

</style>
