---

---

<section class="contact-info-section">
  <div class="contact-item">
    <div class="contact-icon">
      <i class="fa-solid fa-phone fa-icon"></i>
    </div>
    <div class="contact-info">
      <h3>Call us</h3>
      <a href="tel:123456789">123 - 456 - 7890</a>
    </div>
  </div>
  <div class="contact-item">
    <div class="contact-icon">
      <i class="fa-solid fa-envelope fa-icon"></i>
    </div>
    <div class="contact-info">
      <h3>Email us</h3>
      <a href="mailto:bakery@gmail.com">bakery@gmail.com</a>
    </div>
  </div>
  <div class="contact-item">
    <div class="contact-icon">
      <i class="fa-solid fa-location-dot fa-icon"></i>
    </div>
    <div class="contact-info">
      <h3>Visit us</h3>
      <p>Something Street 123, City Name</p>
    </div>
  </div>
</section>

<style>
  .contact-info-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .contact-item {
    display: flex;
    justify-content: space-around;
    align-items: top;
  }

  .contact-info h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #353535;
  }

  .contact-info a {
    text-decoration: none;
  }

  .contact-info a, .contact-info p {
    color: #252525;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }

  .contact-info a:focus {
    text-decoration: underline;
  }

  .contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
  }

  .contact-icon .fa-icon {
    position: relative;
    padding: 0.75rem;
    font-size: 1rem;
  }

  .fa-icon::after {
    content: "";
    inset: 0;
    position: absolute;
    background: #ff90aa;
    border-radius: 3rem;
    z-index: -1;
  }

  /*---------- to 479px ----------*/

  @media all and (max-width: 479px) {
    .contact-item {
      width: 65%;
    }
  }

  /*---------- 480px to 767px ----------*/

  @media all and (min-width: 480px) and (max-width: 767px) {
    .contact-item {
      width: 50%;
    }
  }

  /*---------- 480px to 767px ----------*/

  @media all and (min-width: 768px) and (max-width: 959px) {
    .contact-item {
      width: 35%;
    }
  }

  /*---------- to 959px ----------*/

  @media all and (max-width: 959px) {
    .contact-info-section {
      flex-direction: column;
    }

    .contact-item {
      justify-content: left;
      margin-bottom: 1.5rem;
    }
  }

</style>
