---
import AboutLayout from "../layouts/AboutLayout.astro";
import Header from "../components/Header.astro";
import UsSection from "./About/UsSection.astro";
import AboutCarousel from "./About/AboutCarousel.astro";
import Footer from "../components/Footer.astro";
---

<AboutLayout title="Bakery: About">
  <Header />
  <main>
    <UsSection />
    <AboutCarousel />
  </main>
  <Footer />
</AboutLayout>