---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import ContactForm from "./Contact/ContactForm.astro"
import ContactInfo from "./Contact/ContactInfo.astro"
import IndexMap from "../components/IndexMap.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Bakery: Contact">
  <Header />
    <main>
      <ContactForm />
      <ContactInfo />
      <IndexMap />
    </main>
  <Footer />
</Layout>