---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Landing from '../components/Landing.astro';
import IndexCarousel from '../components/IndexCarousel.astro';
import IndexProducts from '../components/IndexProducts.astro';
import IndexMap from '../components/IndexMap.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Landing />
		<IndexCarousel />
		<IndexProducts />
		<IndexMap />
		<Footer />
	</main>
	<!-- <Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/> -->
			
</Layout>

