---
import IndexLayout from '../layouts/IndexLayout.astro';
import Header from '../components/Header.astro';
import Landing from '../components/Landing.astro';
import IndexCarousel from '../components/IndexCarousel.astro';
import IndexProducts from '../components/IndexProducts.astro';
import IndexServices from '../components/IndexServices.astro';
import IndexMap from '../components/IndexMap.astro';
import Footer from '../components/Footer.astro';
---

<IndexLayout title="Bakery">
	<Header />
	<main>
		<Landing />
		<IndexCarousel />
		<IndexProducts />
		<IndexServices />
		<IndexMap />
	</main>
	<Footer />
				
</IndexLayout>

