---
import Header from "../components/Header.astro"
import SimpleLayout from "../layouts/SimpleLayout.astro"
import LandingServices from "./Services/LandingServices.astro"
import LunchService from "./Services/LunchService.astro"
import Wholesale from "./Services/WholesaleService.astro"
import Footer from "../components/Footer.astro"
---

<SimpleLayout title="Bakery: Services">
  <Header />
  <main>
    <LandingServices />
    <LunchService />
    <Wholesale />
  </main>
  <Footer />
</SimpleLayout>