---
---

<footer class="footer">
  <section class="footer-contact-section">
    <div class="footer-contact-card">
      <div class="contact-icon">
        <i class="fa-solid fa-phone fa-icon"></i>
      </div>
      <div class="contact-info">
        <h3>Call us</h3>
        <a href="tel:123456789">123 - 456 - 7890</a>
      </div>
    </div>
    <div class="footer-contact-card">
      <div class="contact-icon">
        <i class="fa-solid fa-envelope fa-icon"></i>
      </div>
      <div class="contact-info">
        <h3>Email us</h3>
        <a href="mailto:bakery@gmail.com">bakery@gmail.com</a>
      </div>
    </div>
    <div class="footer-contact-card">
      <div class="contact-icon">
        <i class="fa-solid fa-location-dot fa-icon"></i>
      </div>
      <div class="contact-info">
        <h3>Visit us</h3>
        <p>Something Street 123, City Name</p>
      </div>
    </div>
    <div class="footer-contact-card">
      <div class="contact-icon">
        <i class="fa-solid fa-clock fa-icon"></i>
      </div>
      <div class="contact-info">
        <h3>Hourlies</h3>
        <p>Mon to Sat: 7 am to 9 pm</p>
      </div>
    </div>
  </section>
  <section class="footer-social-section">
    <div class="footer-social-icons">
      <a href="https://www.facebook.com/" class="social-icon-link" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/" class="social-icon-link" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/" class="social-icon-link" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </section>
  <section class="footer-dev-section">
    <p class="dev-signature">Developed by <a href="https://github.com/MartinXCVI/" target="_blank">MartinXCVI<i class="fa-brands fa-github"></i></a></p>
  </section>
</footer>

<style>

  .footer {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }

  .footer-contact-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 6rem;
  }

  .footer-contact-card {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
  }

  .contact-info {
    color: #252525;
  }

  .contact-info h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #353535;
  }

  .contact-info a {
    text-decoration: none;
    color: #000000;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }

  .contact-info a:focus {
    text-decoration: underline;
  }

  .contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
  }

  .contact-icon .fa-icon {
    position: relative;
    padding: 0.75rem;
    font-size: 1rem;
  }

  .fa-icon::after {
    content: '';
    inset: 0;
    position: absolute;
    background: #ff90aa;
    border-radius: 3rem;
    z-index: -1;
  }

  .footer-social-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  .footer-social-icons {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .social-icon-link {
    width: 2.5rem;
    text-align: center;
    color: #252525;
    padding: 0.5rem;
    border: 1px solid #252525;
    transition: 0.2s linear all;
  }

  .social-icon-link:hover {
    background-color: #252525;
    color: #f6f6f6;
  }

  .footer-dev-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-dev-section p {
    width: fit-content;
    border-radius: 3rem;
    padding: 0.25rem 0.75rem;
    transition: 0.3s linear all;
  }

  .footer-dev-section p:hover {
    
    background-color: #252525;
    color: #f6f6f6;
  }

  .dev-signature {
    text-align: center;
  }

  .dev-signature a {
    color: crimson;
  }

</style>