---

---

<header class="header">
  <figure class="logo-fig">
    <img class="logo-img" src="" alt="logo">
  </figure>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
      <li><a href="/Products">Products</a></li>
      <li><a href="/Contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style>

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  color: #f6f6f6;
  padding: 1.5rem;
}

.navbar {
  width: 40%;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  color: #f6f6f6;
  transition: 0.15s linear all;
}

.navbar ul li a:hover {
  color: #ff7070;
}

.logo-fig {
  width: 25%;
}

.logo-img {
  width: 100%;
}

</style>