---
---

<section class="index-carousel-section">
  <section class="action-section">
    <h2 class="action-subtitle">You Deserver</h2>
    <h2 class="action-subtitle">The Best</h2>
    <h2 class="action-subtitle">Of it All</h2>
    <section class="action-message-section">
      <p>Artisanal production with the best ingredients, effectiveness through simplicity, and most importantly, all of our love in what we do.</p>
      <a class="action-message-btn" href="">More About Us</a>
    </section>
  </section>
  <section class="index-carousel-container">

  </section>
</section>

<style>

.index-carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-subtitle {
  margin-bottom: 1rem;
}

.action-message-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-message-section p {
  width: 75%;
  margin-bottom: 1rem;
  text-align: center;
}

.action-message-btn {
  padding: 1rem 2rem;
  background-color: pink;
}

</style>