---
import IndexCarouselCard from "./IndexCarouselCard.astro"
---

<section class="index-carousel-section">
  <section class="action-section">
    <h2 class="action-subtitle">You Deserver</h2>
    <h2 class="action-subtitle">The Best</h2>
    <h2 class="action-subtitle">Of it All</h2>
    <section class="action-message-section">
      <p>Artisanal production with the best ingredients, effectiveness through simplicity, and most importantly, all of our love in what we do.</p>
      <a class="action-message-btn" href="">More About Us</a>
    </section>
  </section>
  <section id="index-carousel-container">
    <div class="index-slider my-slider">
      <IndexCarouselCard
        src="/images/index-slider/is-1.jpg"
        alt=""
       />
       <IndexCarouselCard
       src="/images/index-slider/is-2.jpg"
       alt=""
      />
      <IndexCarouselCard
        src="/images/index-slider/is-3.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-4.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-5.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-6.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-7.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-8.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-9.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-10.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-11.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-12.jpg"
        alt=""
       />
    </div>
  </section>
</section>

<style>

.index-carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-subtitle {
  margin-bottom: 1rem;
}

.action-message-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-message-section p {
  width: 75%;
  margin-bottom: 1rem;
  text-align: center;
}

.action-message-btn {
  padding: 1rem 2rem;
  background-color: pink;
}

#index-carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


</style>