---
---

<section class="index-products-wrapper">
  <h2 class="index-products-title">Our Products</h2>
  <section class="index-products-section">
    <article class="index-product-art">
      <figure><img src="/icons/breakfast.png" alt=""></figure>
      <h3 class="index-products-subtitle">Bread & Coffee</h3>
      <p class="products-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aspernatur provident distinctio impedit commodi. Repellendus ut maiores itaque voluptatibus ipsa hic numquam at odit aperiam?</p>
      <a class="products-link" href="/Products#bread-section" target="_blank">See more <i class="fa-solid fa-caret-right"></i></a>
    </article>
    <article class="index-product-art">
      <figure><img src="/icons/cake.png" alt=""></figure>
      <h3 class="index-products-subtitle">Pastries & Delicacies</h3>
      <p class="products-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aspernatur provident distinctio impedit commodi. Repellendus ut maiores itaque voluptatibus ipsa hic numquam at odit aperiam?</p>
      <a class="products-link" href="/Products#pastries-section" target="_blank">See more <i class="fa-solid fa-caret-right"></i></a>
    </article>
    <article class="index-product-art">
      <figure><img src="/icons/sandwich.png" alt=""></figure>
      <h3 class="index-products-subtitle">Cakes & Pies</h3>
      <p class="products-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aspernatur provident distinctio impedit commodi. Repellendus ut maiores itaque voluptatibus ipsa hic numquam at odit aperiam?</p>
      <a class="products-link" href="/Products#cakes-section" target="_blank">See more <i class="fa-solid fa-caret-right"></i></a>
    </article>
  </section>
</section>

<style>

  .index-products-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .index-products-title {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
  }
  
  .index-products-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .index-product-art {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .index-products-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
  }

  .index-products-subtitle, .products-text {
    text-align: center;
  }

  .products-text {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .products-link {
    color: #ff7070;
    transition: 0.2s linear all;
  }

  .products-link:hover {
    color: crimson;
  }

  .products-link:focus {
    color: crimson;
  }

  .index-product-art p {
    line-height: 1.75rem;
  }

  .index-product-art figure {
    width: 15%;
  }

  .index-product-art figure img {
    width: 100%;
  }

</style>