---
import IndexCarouselCard from "./IndexCarouselCard.astro"
---

<section class="index-carousel-section">
  <section class="action-section">
    <h2 class="action-subtitle">You</h2>
    <h2 class="action-subtitle">Deserve</h2>
    <h2 class="action-subtitle">The Best of it All</h2>
    <section class="action-message-section">
      <p>Artisanal production with the best ingredients, effectiveness through simplicity, and most importantly, all of our love in what we do for our beloved people.</p>
      <a class="action-message-btn" href="">More About Us</a>
    </section>
  </section>
  <section id="index-carousel-container">
    <div class="index-slider my-slider">
      <IndexCarouselCard
        src="/images/index-slider/is-1.jpg"
        alt=""
       />
       <IndexCarouselCard
       src="/images/index-slider/is-2.jpg"
       alt=""
      />
      <IndexCarouselCard
        src="/images/index-slider/is-3.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-4.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-5.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-6.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-7.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-8.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-9.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-10.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-11.jpg"
        alt=""
       />
       <IndexCarouselCard
        src="/images/index-slider/is-12.jpg"
        alt=""
       />
    </div>
  </section>
</section>

<style>

.index-carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-section {
  width: 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #252525;
}

.action-subtitle {
  margin-bottom: 0.5rem;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.action-message-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.action-message-section p {
  width: 75%;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

.action-message-btn {
  padding: 1rem 2rem;
  background-color: #ff90aa;
  color: #f6f6f6;
  border-radius: 0.25rem;
  transition: 0.2s linear all;
}

.action-message-btn:hover {
  background-color: #ff7070;
}

#index-carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------- to 479px ----------*/

@media all and (max-width: 479px) {

  .action-subtitle {
    font-size: 2.25rem;
  }

}

/*---------- to 767px ----------*/

@media all and (max-width: 767px) {

.index-carousel-section {
  margin-bottom: 2rem;
}

}


</style>