---
---

<section class="bread-section-wrapper" id="bread-section">
  <article class="bread-article-intro">
    <p class="bread-intro">Classic Bakery</p>
    <figure class="product-fig">
      <img src="/icons/product-bread.png" alt="">
    </figure>
    <h2 class="bread-subtitle">Traditional recipes made by expert bakers</h2>
    <p class="bread-text">
      Our artisans mix the perfect amount of ingredients and bake the bread
      using the ideal oven temperature, always obtaining a crispy, tender
      product with a unique flavour.
    </p>
    <p class="bread-text">
      Their dedication ensures every loaf maintains consistency, freshness, and an uniquely
      irresistible aroma.
    </p>
  </article>
  <article class="bread-article-gallery">
    <figure class="bread-gallery-fig">
      <img src="/images/products/bread/bread-1.jpg" alt="" />
    </figure>
    <figure class="bread-gallery-fig">
      <img src="/images/products/bread/bread-2.jpg" alt="" />
    </figure>
    <figure class="bread-gallery-fig">
      <img src="/images/products/bread/bread-3.jpg" alt="" />
    </figure>
    <figure class="bread-gallery-fig">
      <img src="/images/products/bread/bread-4.jpg" alt="" />
    </figure>
    <figure class="bread-gallery-fig">
      <img src="/images/products/bread/bread-5.jpg" alt="" />
    </figure>
    <figure class="bread-gallery-fig">
      <img src="/images/products/bread/bread-6.jpg" alt="" />
    </figure>
  </article>
</section>

<style>
  .bread-section-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bread-article-intro {
    width: 50%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }


  .bread-subtitle {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  .bread-text, .bread-intro {
    color: #252525;
    font-size: 0.9rem;
  }

  .product-fig {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-fig img {
    width: 100%;
  }

  .bread-article-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .bread-gallery-fig {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bread-gallery-fig img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    opacity: 0.9;
    transition: 0.2s linear all;
  }

  .bread-gallery-fig img:hover {
    transform: scale(1.2);
    z-index: 5;
    border-radius: 0.5rem;
    opacity: 1;
  }

  /*---------- to 479px ----------*/

  @media all and (max-width: 479px) {

    .bread-article-intro {
      width: 80%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .bread-subtitle {
      font-size: 2rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    .bread-text {
      margin-bottom: 0.75rem;
    }

  }

    /*---------- to 959px ----------*/

  @media all and (min-width: 480px) and (max-width: 959px) {
      
    .bread-article-intro {
      width: 70%;
      min-height: 60vh;
      justify-content: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .bread-subtitle {
      font-size: 2.25rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .bread-text {
      margin-bottom: 0.75rem;
    }

  }

  @media all and (max-width: 959px) {

    .bread-intro {
      margin-bottom: 1rem;
    }

    .product-fig {
      width: 20%;
    }

    .bread-article-gallery {
      flex-direction: column;
      margin-bottom: 2rem;
    }

    .bread-gallery-fig {
      width: 95%;
    }

    .bread-gallery-fig:nth-child(1) img {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    .bread-gallery-fig:last-child img {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

  }

  /*---------- from 960px ----------*/

  @media all and (min-width: 960px) {
    
    .bread-article-intro {
      margin-bottom: 1.25rem;
    }

  }

</style>
