---

---

<section class="cakes-section-wrapper" id="cakes-section">
  <article class="cakes-article-intro">
    <p class="cakes-intro">Cakes & Pies</p>
    <h2 class="cakes-subtitle">Outstanding artistry of sweetness</h2>
    <p class="cakes-text">
      Our artisan bakery stands out in the preparation, baking and decoration of
      sweet dishes and pieces such as cakes, pastries, mini cakes and many more.
    </p>
    <p class="cakes-text">
      Our selection of cakes covers all tastes: we make fruity and fresh cakes,
      the classic ones, and also some with exotic flavours for those who like to
      try new things.
    </p>
  </article>
  <article class="cakes-article-gallery">
    <figure class="cakes-gallery-fig">
      <img src="/images/products/cakes/cakes-1.jpg" alt="" />
    </figure>
    <figure class="cakes-gallery-fig">
      <img src="/images/products/cakes/cakes-2.jpg" alt="" />
    </figure>
    <figure class="cakes-gallery-fig">
      <img src="/images/products/cakes/cakes-3.jpg" alt="" />
    </figure>
    <figure class="cakes-gallery-fig">
      <img src="/images/products/cakes/cakes-4.jpg" alt="" />
    </figure>
    <figure class="cakes-gallery-fig">
      <img src="/images/products/cakes/cakes-5.jpg" alt="" />
    </figure>
    <figure class="cakes-gallery-fig">
      <img src="/images/products/cakes/cakes-6.jpg" alt="" />
    </figure>
  </article>
</section>

<style>
  .cakes-section-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cakes-article-intro {
    width: 50%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .cakes-subtitle {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  .cakes-text, .cakes-intro {
    color: #252525;
    font-size: 0.9rem;
  }

  .cakes-article-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cakes-gallery-fig {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cakes-gallery-fig img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    opacity: 0.9;
  }
</style>
