---

---

<section class="cakes-section-wrapper">
  <article class="cakes-article-intro">
    <p>Pastries & Delicacies</p>
    <h2>The best pastries, with all of our love</h2>
    <p>
      Our bakers blend the right ingredients and bake the pastries at the
      optimal temperature, consistently achieving a flaky, delicate treat with a
      distinctive taste.
    </p>
    <p>
      Their commitment guarantees every batch remains uniform, fresh, and
      enticingly fragrant.
    </p>
  </article>
  <article class="cakes-article-gallery">
    <figure class="cakes-gallery-fig"><img src="/images/products/cakes/cakes-1.jpg" alt=""></figure>
    <figure class="cakes-gallery-fig"><img src="/images/products/cakes/cakes-2.jpg" alt=""></figure>
    <figure class="cakes-gallery-fig"><img src="/images/products/cakes/cakes-3.jpg" alt=""></figure>
    <figure class="cakes-gallery-fig"><img src="/images/products/cakes/cakes-4.jpg" alt=""></figure>
    <figure class="cakes-gallery-fig"><img src="/images/products/cakes/cakes-5.jpg" alt=""></figure>
    <figure class="cakes-gallery-fig"><img src="/images/products/cakes/cakes-6.jpg" alt=""></figure>
  </article>
</section>

<style>
  .cakes-section-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cakes-article-intro {
    width: 50%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .cakes-article-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cakes-gallery-fig {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cakes-gallery-fig img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

</style>
