<section class="products-landing-wrapper">
  <section class="products-landing-section">
    <h2 class="products-title">Bread & Pastries</h2>
    <p class="products-subtitle">The right balance between artisan tradition and scalable production</p>
  </section>
</section>

<style>

  .products-landing-wrapper {
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .products-landing-wrapper::before {
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    background: #202020;
  }

  .products-landing-wrapper::after {
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    background-image: url('/images/products-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }

  .products-landing-section {
    text-align: center;
    color: white;
  }

  .products-title {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.35rem;
    margin-bottom: 2rem;
  }

  .products-subtitle {
    font-size: 1.25rem;
  }

  .products-title, .products-subtitle {
    text-shadow: 0rem 0rem 1rem #202020;
  }

</style>